.example-card {
  max-width: 400px;
  margin: 0%;
  display: inline-block;
  width: 250px;
}

mat-card-header{
	text-align: center;
}

.voting-button{
	background: #007effc9;
}

.candidate-card-selector{
	display: inline-block;
}
.card-container{
	text-align: center;
}

.candidate-card-cls{
	text-align: center;
	margin: 2%;
}

.candidate-card-header{
	display: inline-block;
}

